#movie{
	    padding-left: 15px;
	    padding-right: 15px;
	    background-color: #f9f9f9;
	    width: 100%;
	    position: absolute;
	    min-height: 100%;
	.movie_nav{
	    height: 0.46rem;
	    margin: 0 auto;
	    border-bottom: solid #fe6e00 1px;
	}
}