.my-drawer{
	background: #fff;
}
.selectSession{
	.banner{
		background-color: #38403e;
		padding: 12px 0 0 0;
		.swiper-container{
			.swiper-wrapper{
				.swiper-slide{
					width: 74px;
					.imgWrap{
					    padding: 0 10px;
					    opacity: 0.4;
					    .img{
					    	img{
							    width: 100%;
						        border: #eee 1px solid;
							}							
					    }
					}
					.active_img{
						opacity: 1;
					}
					.film_name{
					    display: none;
					    text-align: center;
					    margin: 10px -20px;
					    color: #fff;
					}
					.active_name{
						display: block;
					}
				}
			}
		}
	}
	.chooseTime{
		.chooseTime_title{
		    border-bottom: 1px solid #e9681f;
			.swiper-container{
				.swiper-wrapper{
					.swiper-slide{
					    width: 107px;
						.showTime{
						    height: 25px;
						    width: 96px;
						    margin: 5px 15px;
						    display: inline-block;
						    font-size: 10px;
						    line-height: 25px;
						    text-align: center;
						    color: #555;
						}
					}
					.active_time{
				        border-bottom: 5px solid #e9681f;
					}
				}
			}
		}
	}
}