.willPlay{
	dl{
		width: 100%;
	    padding: 0.2rem 0;
	    border-bottom: dashed 1px #c9c9c9;
	    cursor: pointer;
	    clear: both;
	    a{
	    	display: inline-block;
	    	width: 100%;
	    	dt{
    		    width: 0.6rem;
			    float: left;
			    overflow: hidden;
	    	}
	    	dd{
    		    padding-left: 0.15rem;
			    display: inline-block;
			    width: 75%;
			    .movieName{
		    	    font-size: 0.16rem;
				    line-height: 0.32rem;
				    color: #000;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    h5{
				    	float: left;
						font-size: 0.16rem;
					    line-height: 0.32rem;
					    color: #000;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;

				    }
			    }
			    .movieIntroduce{
			    	text-align: left;
			    	height: 0.24rem;
				    line-height: 0.24rem;
				    color: #8e8e8e;
				    font-size: 0.12rem;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    width: 100%;
				    display: inline-block
			    }
			    .movieShow{
	    	        line-height: 0.24rem;
				    color: #ffb375;
				    font-size: 0.12rem;
				    p{
				    	float: left;
				    	line-height: 0.24rem;
				    }
				   
			    }
	    	}
	    }
		img{
			width: 100%;
		}
	}
	dl:after{
		content: "";
		display: block;
		clear: both;
	}
}